* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Poppins", sans-serif;
}

/** heading part **/
.top-header {
    width: 1440px;
    height: 44px;
    background-color: #23232cd2;
    margin: 0 auto;
    padding: 0 160px;
    display: flex;
    justify-content: space-between;
}

.frame-10 {
    display: flex;
    align-items: center;
    gap: 24px;
}

.common-cls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    color: #fff;
}

.common-cls i {
    font-size: 24px;
}

.main-header {
    width: 1440px;
    height: 100px;
    background-color: #050415;
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    align-items: center;
    gap: 134px;
}

.frame-20 {
    width: 430px;
    height: 36px;
    padding: 0 29px;
    display: flex;
}

.home {
    width: 97px;
    height: 100%;
    
}

.op-home {
    padding: 8px 12px;
}

.shop {
    width: 91px;
    height: 100%;
}

.blog {
    width: 86px;
    height: 100%;
}

.pages {
    width: 98px;
    height: 100%;
}

.hsbp {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    color: #86858E;
}

.active {
    color: #fff;
}

.hsbp i {
    font-size: 20px;
}

.frame-25 {
    width: 430px;
    height: 44px;
    display: flex;
    align-items: center;
    padding-left: 88px;
    gap: 14px;
}

.search-frame {
    position: relative;
}

.search-frame input {
    width: 216px;
    height: 44px;
    border-radius: 20px;
    padding-left: 44px;
    background-color: #54545C;
    border: 0;
    color: #fff;
    font-size: 18px;
}

.search-frame input::placeholder {
    color: #fff;
}

.search-frame i {
    color: #fff;
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 20px;
}

.user-frame {
    display: flex;
    gap: 20px;
}

.user-frame i {
    font-size: 24px;
    color: #D1D0E5;
}


/** main **/
.main {
    width: 1440px;
    height: auto;
    margin: 0 auto;
}


/** hero section **/
.hero-section {
  width: 100%;
  height: 924px;
  /* background-image: url(./Assets/hero-image.png); */
  background-image: linear-gradient(#030119AB,#030119AB),url(./Assets/hero-image.png);
  background-position: center;
  background-size: cover;
  padding: 38px 160px 105px;
  position: relative;
  overflow: hidden;
}

/* .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #030119AB; 
  z-index: 0;
  pointer-events: none;
} */

/* .hero-content {
  position: relative;
  z-index: 1;
} */

.hero-section span {
  padding: 6px 12px;
  color: #9998A1;
  border: 1px solid #54545C;
  border-radius: 50px;
}

.hero-section h1 {
  font-size: 75px;
  font-weight: 600;
  color: #CECDD8;
  margin: 8px 0 20px;
}

.sub-title-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-title p {
  font-size: 18px;
  color: #C9C7C7;
}

.btns {
    display: flex;
    gap: 10px;
}

.btns button {
  padding: 12px 18px;
  border: 0;
  border-radius: 8px;
  color: #FCFCFC;
}

.shop-btn {
  background-color: #3328BF;
}

.learn-btn {
  background-color: #54545C;
  display: flex;
  align-items: center;
  gap: 6px;
}

.image-section {
    width: 1120px;
    height: 450px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

.frame-13 img {
    padding-bottom: 50px;
}

.frame-24 img {
    padding-top: 50px;
}


/** second section **/
.second-section {
    width: 100%;
    height: 1472px;
    background-color: #262637;
    padding: 100px 160px;
}

.heading-sub-heading {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
}

.heading-sub-heading h2 {
    font-size: 48px;
    font-weight: 500;
    color: #E4E4EF;
}

.heading-sub-heading p {
    font-size: 16px;
    font-weight: 400;
    color: #E4E4EF;
}

.project-showcase {
    width: 100%;
    height: 1008px;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.Jewels-of-service {
    width: 352px;
    height: 488px;
    padding: 24px;
    border: 1px solid #D6D6D6;
    border-radius: 20px;
}

.Jewels-of-service img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
}

.Jewels-of-service h3 {
    font-size: 24px;
    font-weight: 500;
    padding: 20px 0 8px;
    text-align: center;
    color: #E4E4EF;
}

.Jewels-of-service p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: #E4E4EF;
}

.second-section button {
    padding: 12px 18px;
    border: 0;
    background-color: #3328BF;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    margin: 50px auto 0;
}


/** third section **/
.third-section {
    width: 100%;
    height: 660px;
    background-color: #272637;
    padding: 105px 140px;
}

.features-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    border: 2px solid #45444A;
    border-radius: 20px;
    background-color: #292834;
}

.features-images {
    display: flex;
    gap: 32px;
    margin: 20px 0 20px 20px;
}

.f-image1 img {
    width: 256px;
    height: 360px;
    border-radius: 20px;
    margin-top: 50px;
    border: 2px solid #54545C;
}

.f-image2 img {
    width: 256px;
    height: 360px;
    border-radius: 20px;
    margin-bottom: 50px;
    border: 2px solid #54545C;
}

.features-detail {
    width: 544px;
    height: 360px;
    margin: 45px 20px 0 0;
}

.features-detail p {
    color: #CECDD8;
}

.features-detail h2 {
    font-size: 48px;
    font-weight: 500;
    color: #CECDD8;
}

hr {
    margin: 24px 0 0;
}

.detail {
    display: flex;
    align-items: center;
    gap: 12px;
    padding-top: 24px;
}

.detail i {
    font-size: 20px;
    color: #fff;
}

.detail p {
    font-size: 20px;
    color: #7D7D82;
}


/** fourth section **/
.fourth-section {
    width: 100%;
    height: 492px;
    padding: 80px 140px;
    background-color: #272637;
}

.frame-99 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px solid #45444A;
    background-color: #0B0B0FA6;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.left-part {
    width: 48%;
    height: 100%;
}

.left-part p {
    font-size: 18px;
    text-align: left;
    padding-bottom: 32px;
    color: #888997;
}

.left-part button {
    padding: 12px 18px;
    border: 0;
    border-radius: 8px;
    color: #FCFCFC;
}

.right-part {
    width: 45%;
    height: 100%;
}

.right-part h2 {
    padding-bottom: 32px;
    font-size: 46px;
    color: #888997;
}

.right-part img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}


/** fifth section **/
.fifth-section {
    width: 100%;
    height: 572px;
    background-color: #222335;
}

.heading-bg-image {
    width: 100%;
    height: 312px;
    background-image: linear-gradient(#121117B0),url(./Assets/hero-image.png);
    background-size: cover;
    background-position: center;
}

.heading-bg-image p:first-child {
    font-size: 14px;
    color: #FCFCFC;
    text-align: center;
    padding-top: 100px;

}

.heading-bg-image h2 {
    font-size: 48px;
    font-weight: 500;
    color: #fff;
    text-align: center;
}

.heading-bg-image p:last-child {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    color: #FCFCFC;
}

.progress {
    padding: 50px 160px 100px;
    width: 100%;
    height: 260px;
}

.count-down {
    width: 100%;
    height: 100%;
    display: flex;
}

.stat-box {
    width: 280px;
    height: 100%;
    border-right: 2px solid #9391AD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.stat-box:last-child {
    border: none;
}

.stat-box h2 {
    font-size: 48px;
    font-weight: 500;
    color: #888991;
}

.stat-box p {
    color: #888991;
}